<div>
    <h3>Images</h3>
    <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {{#each files}}
            <tr>
                <td>{{ this.key }}</td>
                <td>{{ this.result }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <a href="/upload">Upload image</a>
</div>